body{
  background-color: black;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 500px;
  
}
.toDoListContainer{
  background-color: white;
  padding: 1em;
  border-radius: 15px;
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}
.toDoListItem{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
 margin: 5px; 
}
.toDoListHeader{
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: white; */
  width: 100%;
  border: 0px solid;
  border-radius: 15px;
  
}
.txtAddContainer{
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
}

.txtTask{
  border:0px solid;
  background-color: transparent !important;
}